<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('./partials/head.ejs')%>
  <title>Mongoose Store</title>
</head>
<header> <%- include('./partials/header.ejs')%></header>

<body class="container" id="mainPage">
  <div class="row">
    <div class="col s10">
      <a href="/products/new">Add a New Product</a>
      <ul>
        <% products.forEach(product => { %>
        <li><%=product.name%>
          <a href="/products/<%=product._id%>"><img src="<%=product.img%>"></a>
          Price: <%=product.price%>
        </li>
        <% }) %>
      </ul>
    </div>
  </div>
</body>
<footer><%- include('./partials/footer.ejs')%></footer>

</html>