<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs')%>
    <title>Mongoose Store</title>
</head>
<header> <%- include('./partials/header.ejs')%></header>
<body>
    <a href="/products">Back to the Index Page</a>
    <a href="">Edit this Product</a>
        <h1><%=product.name%></h1>
        <%=product.description%>
        <img src="<%=product.img%>">
        Price: <%=product.price%>
        Quantity: 
        <% if (product.qty <= 0 | !product.qty) {%>
            Out of Stock
        <% } else { %>
            <%=product.qty%>
            <button>Buy</button>
        <% } %>

        <input type="button" name="" value="Delete" /> 
        
</body>
<footer><%- include('./partials/footer.ejs')%></footer>
</html>